[tool.poetry]
name = "parabellum"
version = "0.0.0"
description = "Parabellum environment for parallel warfare simulation"
authors = ["Noah Syrkis <desk@syrkis.com>"]
readme = "README.md"
repository = "https://github.com/syrkis/parabellum"
license = "MIT"
keywords = ["warfare", "simulation", "parallel", "environment"]

[tool.poetry.dependencies]
python = "^3.11"
pygame = "^2.5.2"
moviepy = "^1.0.3"
jupyterlab = "^4.2.2"
darkdetect = "^0.8.0"
jaxmarl = "0.0.3"
poetry = "^1.8.3"
tqdm = "^4.66.4"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"
dirty = true

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning>=1.0.0,<2.0.0"]
build-backend = "poetry_dynamic_versioning.backend"